
:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
    text-decoration: none;
}

div.error {
    color: red;
    font-size: 0.9em;
    margin-top: 2px;
}

div.flex-row {
    display: flex;
    align-items: start;
}


div.buttonContainer {
    display: flex;
    align-items: start;
}

div.input-col {
    display: flex;
    flex-direction: column;
}

input.invalid {
    border-color: red;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}
